[Unit]
Description=flannel docker export service - Network fabric for containers (System Application Container)
Documentation=https://github.com/coreos/flannel
PartOf=flanneld.service
Requires=flanneld.service docker.service
After=flanneld.service docker.service

[Service]
Type=oneshot
RemainAfterExit=true
Restart=on-failure
RestartSec=5s

Environment="ETCD_IMAGE_URL=quay.io/coreos/flannel"
Environment="FLANNEL_IMAGE_TAG=@FLANNEL_IMAGE_TAG@"
Environment="FLANNEL_CMD=/opt/bin/mk-docker-opts.sh"

ExecStart=/usr/lib/flatcar/flannel-wrapper -d /run/flannel/flannel_docker_opts.env -i
ExecStop=docker stop flannel
ExecStopPost=docker rm flannel
ExecStopPost=systemctl restart docker

[Install]
WantedBy=multi-user.target
